matplotlib @ file:///C:/b/abs_b2d7uv90hg/croot/matplotlib-suite_1677674332463/work
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
pandas @ file:///C:/b/abs_b9kefbuby2/croot/pandas_1677835593760/work
streamlit==1.39.0
